##this is a server configuration file

    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME}\.php -f
    ##RewriteCond %{REQUEST_FILENAME}\.html -f

    ##need to change this when change default file format/scripting lang
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
    ##RewriteRule ^([^\.]+)$ $1.html [NC,L]

##website issue? change here
# Redirect any "direct" requests to the `/companies` directory
# to remove the directory from the URL-path.
# Also removes the ".php" extension (if present)
 RewriteCond %{ENV:REDIRECT_STATUS} ^$
 RewriteRule ^committee(/.*?)(?:\.php)?$ $1 [R=301,L]

# Check if the requested resource exists in the /companies subdirectory.
# If so, rewrite the request to that subdirectory.
 RewriteCond %{DOCUMENT_ROOT}/committee/$1 -f
RewriteRule (.+\.(css|js|png|jpg|gif))$ /committee/$1 [L]

# Check if the requested PHP file exists in the /companies subdirectory
# if requesting a URL that does not already have a file extension.
# NB: Assumes the URL-path does not otherwise contain dots.
# If so, rewrite the request to that subdirectory appending ".php"
RewriteCond %{DOCUMENT_ROOT}/committee/$1.php -f
RewriteRule ^([^.]+)$ /committee/$1.php [L]

##

##Change default homepage
    DirectoryIndex committee/index.php

##Set the Time Zone for Your Server
    SetEnv TZ Asia/Kuala_Lumpur
##php_value date.timezone 'Asia/Malaysia'

## Redirect Browser to https
    ## RewriteEngine On 
    ## RewriteCond %{HTTPS} !=on
    ## RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    ##RewriteEngine On

# If we receive a forwarded http request from a proxy...
RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# ...or just a plain old http request directly from the client
RewriteCond %{HTTP:X-Forwarded-Proto} =""
RewriteCond %{HTTPS} !=on

# Redirect to https version
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Put the rest of your rewrite rules here

##Disable or Enable Directory browsing
##disable directory browsing
    Options All -Indexes
##enable directory browsing
    ## Options All +Indexes


##Router page Error to custom page
    ErrorDocument 404 /404.html
    ##ErrorDocument 404 /404.html
    ##ErrorDocument 404 /hddocs/myrun-project/admin/error/404.php


